

services:
  
  app:
    build: 
      context: ./
      dockerfile: Dockerfile
    container_name: phpApp_container-app
    restart: always
    volumes:
      - ../src:/var/www

  nginx:
    image: nginx:1.19-alpine
    container_name: phpApp_container-nginx
    restart: always
    ports:
      - "8000:80"
    volumes:
      - ../src:/var/www
      - ./nginx:/etc/nginx/conf.d
