

services:
  
  app:
    build: 
      context: ./
      dockerfile: Dockerfile
    container_name: phpApp_container-app
    restart: always
    volumes:
      - ../src:/var/www

  nginx:
    image: nginx:1.19-alpine
    container_name: phpApp_container-nginx
    restart: always
    ports:
      - "8000:80"
    volumes:
      - ../src:/var/www
      - ./nginx:/etc/nginx/conf.d
  
  db:
    image: mysql:8.0
    container_name: phpApp_container-mysql
    volumes:
      - ./storage/mysql:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
